@font-face {
    font-family: 'Kontur-Iconic';
    src: url('fonts/Kontur-Iconic.eot');
    src: url('fonts/Kontur-Iconic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kontur-Iconic.woff') format('woff'),
         url('fonts/Kontur-Iconic.ttf') format('truetype'),
         url('fonts/Kontur-Iconic.svg#MyFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe UI';
    src:url('fonts/Segoe-UI.eot');
    src:url('fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
           url('fonts/Segoe-UI.woff') format('woff'),
           url('fonts/Segoe-UI.ttf') format('truetype'),
           url('fonts/Segoe-UI.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 14px "Segoe UI";
    color: black;
    line-height: 20px;
}

body, html {
    height: 100%;
    margin: 0;
}

#symbol {
    font-family: Kontur-Iconic;
    font-size: 14px;
}

p {
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
}

p input {
    height: 40px;
    width: 40px;
    font: 14px "Segoe UI";
    color: #404040;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 0;
    border: 1px solid #D9D9D9;
    box-shadow: inset 0 1px 0 #B2B2B2;
    outline: 1px;
}

input[disabled] {background: #F2F2F2;}

#left {
    position: relative;
    float: left;
    background-color: #BCBCBC;
    width: 310px;
    height: 100%;    
    display: inline-block;
}

.trick {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#button {
    height: 40px;
    width: 189px;
}

#check_matrix_a, #check_matrix_b {
    display: inline-block;
    position: relative;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 1px solid gray;
    background: -moz-linear-gradient(#FEFEFE, #ECECEC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#ECECEC));
    background: -ms-linear-gradient(#FEFEFE,  #ECECEC);
    background: #FEFEFE;
}

#check_in_a, #check_in_b {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    top: 3px;
    left: 3px;
    background-color: #666666;
}

#rearrange, #clear, #add_row, #del_row, #add_column, #del_column {    
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 5px;
    outline: 1px;
    cursor: pointer;
    color: black;
    background: -moz-linear-gradient(#FEFEFE, #ECECEC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#ECECEC));
    background: -ms-linear-gradient(#FEFEFE,  #ECECEC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#ECECEC');
}

#rearrange_over, #clear_over, #add_row_over, #del_row_over, #add_column_over, #del_column_over {    
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 5px;
    outline: 1px;
    cursor: pointer;
    background: -moz-linear-gradient(#F2F2F2, #E0E0E0);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#E0E0E0));
    background: -ms-linear-gradient(#F2F2F2,  #E0E0E0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#E0E0E0');
}

#rearrange_disable, #clear_disable, #add_row_disable, #del_row_disable, #add_column_disable, #del_column_disable {    
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 5px;
    outline: 1px;
    cursor: default;
    color: gray;
    background: #F2F2F2;
}

#rearrange_click, #clear_click, #add_row_click, #del_row_click, #add_column_click, #del_column_click {    
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 35px;
    margin-top: 6px;
    margin-bottom: 5px;
    outline: 1px;
    cursor: pointer;
    background: #D9D9D9;
    box-shadow: inset 0 1px 0 #B2B2B2;
}

#produce {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 55px;
    margin-left: 35px;
}

#rearrange, #rearrange_disable, #rearrange_over, #rearrange_click {
    margin-bottom: 55px;
}

#del_row, #del_column, #del_row_click, #del_column_click  {
    margin-left: 5px;
    margin-right: 5px;
}

#del_row_over, #del_column_over, #del_row_disable, #del_column_disable {
    margin-left: 5px;
    margin-right: 5px;
}

#log {
    margin-left: 35px;
    margin-top: 40px;
    color: #800000;
}

#matrices {
    display: inline-block;
    height: auto;
    margin-left: 19px;
}

#matr_c, #matr_a, #matr_b {
    display: inline-block;
    border-left: 2px solid #404040;
    border-right: 2px solid #404040;
    margin: 15px;
    vertical-align: middle;
}

#Border {
    height: 2px;
}

#Border_left {
    height: 2px;
    width: 10px;
    background-color: #404040;
    float: left;
}

#Border_right {
    height: 2px;
    width: 10px;
    background-color: #404040;
    float: right;
}

#let_A {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: #404040;
}

#let_B {
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #404040;
}